<DOCTYPE html>
    <html>
        <head>
            <link rel="stylesheet" href="signup.css">
            <p align="center">HealthSense</p><hr>
            <title> Sign up </title>
         <body bgcolor="29d786">
            <div class="myDiv">
            <h1 align="center" style="color:white"> SIGN UP </h1>
            </div>
            <br>
            <h2 align="center"> Name:<input placeholder="First Name" type="text"/> <input placeholder="Last Name"</h2>
            <h2 align="center"> Email:<input placeholder="Type your email address" type="email"/></h2>
            <h2 align="center"> Phone Number:<input value="+88" type="text"/></h2>
            <h2 align="center"> Date of Birth:<input placeholder="Day/Month/Year" type="birthday"/></h2>
            <h2 align="center"> Password:<input placeholder="Enter a new Password" type="password"/></h2>
            <h2 align="center"> Confirm Password:<input placeholder="Retype your Password" type="password"/></h2>
            <h2 align="center"> Gender:<input name="gender" type="radio"/> Male
            <input name="gender" type="radio"/> Female 
            <input name="gender" type="radio"/> Other </h2>
            <br>
            <h2 align="center"> <input style="background-color:rgb(229, 229, 245)"  value="SIGN UP" type="submit"</h2>
         </body>
         </head>
    </html>	